.checkbox-deep-purple[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #673ab7;
    background-color: #673ab7;
}

.checkbox-deep-purple-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #5e35b1;
    background-color: #5e35b1;
}

.checkbox-deep-purple-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #512da8;
    background-color: #512da8;
}

.checkbox-deep-purple-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #4527a0;
    background-color: #4527a0;
}

.checkbox-deep-purple-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #311b92;
    background-color: #311b92;
}

.checkbox-deep-purple-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b388ff;
    background-color: #b388ff;
}

.checkbox-deep-purple-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #7c4dff;
    background-color: #7c4dff;
}

.checkbox-deep-purple-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #651fff;
    background-color: #651fff;
}

.checkbox-deep-purple-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #6200ea;
    background-color: #6200ea;
}

.checkbox-indigo-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e8eaf6;
    background-color: #e8eaf6;
}

.checkbox-indigo-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #c5cae9;
    background-color: #c5cae9;
}

.checkbox-indigo-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #9fa8da;
    background-color: #9fa8da;
}

.checkbox-indigo-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #7986cb;
    background-color: #7986cb;
}

.checkbox-indigo-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #5c6bc0;
    background-color: #5c6bc0;
}

.checkbox-indigo[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #3f51b5;
    background-color: #3f51b5;
}

.checkbox-indigo-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #3949ab;
    background-color: #3949ab;
}

.checkbox-indigo-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #303f9f;
    background-color: #303f9f;
}

.checkbox-indigo-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #283593;
    background-color: #283593;
}

.checkbox-indigo-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #1a237e;
    background-color: #1a237e;
}

.checkbox-indigo-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #8c9eff;
    background-color: #8c9eff;
}

.checkbox-indigo-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

.checkbox-indigo-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #3d5afe;
    background-color: #3d5afe;
}

.checkbox-indigo-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #304ffe;
    background-color: #304ffe;
}

.checkbox-blue-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e3f2fd;
    background-color: #e3f2fd;
}

.checkbox-blue-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #bbdefb;
    background-color: #bbdefb;
}

.checkbox-blue-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #90caf9;
    background-color: #90caf9;
}

.checkbox-blue-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #64b5f6;
    background-color: #64b5f6;
}

.checkbox-blue-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #42a5f5;
    background-color: #42a5f5;
}

.checkbox-blue[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #2196f3;
    background-color: #2196f3;
}

.checkbox-blue-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #1e88e5;
    background-color: #1e88e5;
}

.checkbox-blue-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #1976d2;
    background-color: #1976d2;
}

.checkbox-blue-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #1565c0;
    background-color: #1565c0;
}

.checkbox-blue-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #0d47a1;
    background-color: #0d47a1;
}

.checkbox-blue-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #82b1ff;
    background-color: #82b1ff;
}

.checkbox-blue-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #448aff;
    background-color: #448aff;
}

.checkbox-blue-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #2979ff;
    background-color: #2979ff;
}

.checkbox-blue-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #2962ff;
    background-color: #2962ff;
}

.checkbox-light-blue-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e1f5fe;
    background-color: #e1f5fe;
}

.checkbox-light-blue-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b3e5fc;
    background-color: #b3e5fc;
}

.checkbox-light-blue-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #81d4fa;
    background-color: #81d4fa;
}

.checkbox-light-blue-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #4fc3f7;
    background-color: #4fc3f7;
}

.checkbox-light-blue-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #29b6f6;
    background-color: #29b6f6;
}

.checkbox-light-blue[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #03a9f4;
    background-color: #03a9f4;
}

.checkbox-light-blue-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #039be5;
    background-color: #039be5;
}

.checkbox-light-blue-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #0288d1;
    background-color: #0288d1;
}

.checkbox-light-blue-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #0277bd;
    background-color: #0277bd;
}

.checkbox-light-blue-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #01579b;
    background-color: #01579b;
}

.checkbox-light-blue-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #80d8ff;
    background-color: #80d8ff;
}

.checkbox-light-blue-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #40c4ff;
    background-color: #40c4ff;
}

.checkbox-light-blue-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00b0ff;
    background-color: #00b0ff;
}

.checkbox-light-blue-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #0091ea;
    background-color: #0091ea;
}

.checkbox-cyan-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e0f7fa;
    background-color: #e0f7fa;
}

.checkbox-cyan-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b2ebf2;
    background-color: #b2ebf2;
}

.checkbox-cyan-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #80deea;
    background-color: #80deea;
}

.checkbox-cyan-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #4dd0e1;
    background-color: #4dd0e1;
}

.checkbox-cyan-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #26c6da;
    background-color: #26c6da;
}

.checkbox-cyan[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00bcd4;
    background-color: #00bcd4;
}

.checkbox-cyan-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00acc1;
    background-color: #00acc1;
}

.checkbox-cyan-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #0097a7;
    background-color: #0097a7;
}

.checkbox-cyan-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00838f;
    background-color: #00838f;
}

.checkbox-cyan-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #006064;
    background-color: #006064;
}

.checkbox-cyan-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #84ffff;
    background-color: #84ffff;
}

.checkbox-cyan-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #18ffff;
    background-color: #18ffff;
}

.checkbox-cyan-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00e5ff;
    background-color: #00e5ff;
}

.checkbox-cyan-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00b8d4;
    background-color: #00b8d4;
}

.checkbox-teal-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e0f2f1;
    background-color: #e0f2f1;
}

.checkbox-teal-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b2dfdb;
    background-color: #b2dfdb;
}

.checkbox-teal-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #80cbc4;
    background-color: #80cbc4;
}

.checkbox-teal-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #4db6ac;
    background-color: #4db6ac;
}

.checkbox-teal-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #26a69a;
    background-color: #26a69a;
}

.checkbox-teal[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #009688;
    background-color: #009688;
}

.checkbox-teal-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00897b;
    background-color: #00897b;
}

.checkbox-teal-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00796b;
    background-color: #00796b;
}

.checkbox-teal-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00695c;
    background-color: #00695c;
}

.checkbox-teal-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #004d40;
    background-color: #004d40;
}

.checkbox-teal-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #a7ffeb;
    background-color: #a7ffeb;
}

.checkbox-teal-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #64ffda;
    background-color: #64ffda;
}

.checkbox-teal-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #1de9b6;
    background-color: #1de9b6;
}

.checkbox-teal-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00bfa5;
    background-color: #00bfa5;
}

.checkbox-green-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e8f5e9;
    background-color: #e8f5e9;
}

.checkbox-green-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #c8e6c9;
    background-color: #c8e6c9;
}

.checkbox-green-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #a5d6a7;
    background-color: #a5d6a7;
}

.checkbox-green-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #81c784;
    background-color: #81c784;
}

.checkbox-green-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #66bb6a;
    background-color: #66bb6a;
}

.checkbox-green[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #4caf50;
    background-color: #4caf50;
}

.checkbox-green-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #43a047;
    background-color: #43a047;
}

.checkbox-green-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #388e3c;
    background-color: #388e3c;
}

.checkbox-green-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #2e7d32;
    background-color: #2e7d32;
}

.checkbox-green-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #1b5e20;
    background-color: #1b5e20;
}

.checkbox-green-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b9f6ca;
    background-color: #b9f6ca;
}

.checkbox-green-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #69f0ae;
    background-color: #69f0ae;
}

.checkbox-green-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00e676;
    background-color: #00e676;
}

.checkbox-green-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #00c853;
    background-color: #00c853;
}

.checkbox-light-green-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f1f8e9;
    background-color: #f1f8e9;
}

.checkbox-light-green-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #dcedc8;
    background-color: #dcedc8;
}

.checkbox-light-green-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #c5e1a5;
    background-color: #c5e1a5;
}

.checkbox-light-green-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #aed581;
    background-color: #aed581;
}

.checkbox-light-green-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #9ccc65;
    background-color: #9ccc65;
}

.checkbox-light-green[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #8bc34a;
    background-color: #8bc34a;
}

.checkbox-light-green-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #7cb342;
    background-color: #7cb342;
}

.checkbox-light-green-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #689f38;
    background-color: #689f38;
}

.checkbox-light-green-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #558b2f;
    background-color: #558b2f;
}

.checkbox-light-green-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #33691e;
    background-color: #33691e;
}

.checkbox-light-green-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ccff90;
    background-color: #ccff90;
}

.checkbox-light-green-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b2ff59;
    background-color: #b2ff59;
}

.checkbox-light-green-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #76ff03;
    background-color: #76ff03;
}

.checkbox-light-green-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #64dd17;
    background-color: #64dd17;
}

.checkbox-lime-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f9fbe7;
    background-color: #f9fbe7;
}

.checkbox-lime-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f0f4c3;
    background-color: #f0f4c3;
}

.checkbox-lime-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e6ee9c;
    background-color: #e6ee9c;
}

.checkbox-lime-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #dce775;
    background-color: #dce775;
}

.checkbox-lime-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #d4e157;
    background-color: #d4e157;
}

.checkbox-lime[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #cddc39;
    background-color: #cddc39;
}

.checkbox-lime-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #c0ca33;
    background-color: #c0ca33;
}

.checkbox-lime-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #afb42b;
    background-color: #afb42b;
}

.checkbox-lime-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #9e9d24;
    background-color: #9e9d24;
}

.checkbox-lime-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #827717;
    background-color: #827717;
}

.checkbox-lime-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f4ff81;
    background-color: #f4ff81;
}

.checkbox-lime-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #eeff41;
    background-color: #eeff41;
}

.checkbox-lime-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #c6ff00;
    background-color: #c6ff00;
}

.checkbox-lime-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #aeea00;
    background-color: #aeea00;
}

.checkbox-yellow-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fffde7;
    background-color: #fffde7;
}

.checkbox-yellow-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fff9c4;
    background-color: #fff9c4;
}

.checkbox-yellow-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fff59d;
    background-color: #fff59d;
}

.checkbox-yellow-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fff176;
    background-color: #fff176;
}

.checkbox-yellow-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffee58;
    background-color: #ffee58;
}

.checkbox-yellow[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffeb3b;
    background-color: #ffeb3b;
}

.checkbox-yellow-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fdd835;
    background-color: #fdd835;
}

.checkbox-yellow-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fbc02d;
    background-color: #fbc02d;
}

.checkbox-yellow-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f9a825;
    background-color: #f9a825;
}

.checkbox-yellow-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f57f17;
    background-color: #f57f17;
}

.checkbox-yellow-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffff8d;
    background-color: #ffff8d;
}

.checkbox-yellow-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffff00;
    background-color: #ffff00;
}

.checkbox-yellow-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffea00;
    background-color: #ffea00;
}

.checkbox-yellow-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffd600;
    background-color: #ffd600;
}

.checkbox-amber-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fff8e1;
    background-color: #fff8e1;
}

.checkbox-amber-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffecb3;
    background-color: #ffecb3;
}

.checkbox-amber-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffe082;
    background-color: #ffe082;
}

.checkbox-amber-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffd54f;
    background-color: #ffd54f;
}

.checkbox-amber-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffca28;
    background-color: #ffca28;
}

.checkbox-amber[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffc107;
    background-color: #ffc107;
}

.checkbox-amber-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffb300;
    background-color: #ffb300;
}

.checkbox-amber-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffa000;
    background-color: #ffa000;
}

.checkbox-amber-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff8f00;
    background-color: #ff8f00;
}

.checkbox-amber-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff6f00;
    background-color: #ff6f00;
}

.checkbox-amber-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffe57f;
    background-color: #ffe57f;
}

.checkbox-amber-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffd740;
    background-color: #ffd740;
}

.checkbox-amber-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffc400;
    background-color: #ffc400;
}

.checkbox-amber-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffab00;
    background-color: #ffab00;
}

.checkbox-orange-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fff3e0;
    background-color: #fff3e0;
}

.checkbox-orange-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffe0b2;
    background-color: #ffe0b2;
}

.checkbox-orange-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffcc80;
    background-color: #ffcc80;
}

.checkbox-orange-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffb74d;
    background-color: #ffb74d;
}

.checkbox-orange-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffa726;
    background-color: #ffa726;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff9800;
    background-color: #ff9800;
}

.checkbox-orange-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fb8c00;
    background-color: #fb8c00;
}

.checkbox-orange-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f57c00;
    background-color: #f57c00;
}

.checkbox-orange-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ef6c00;
    background-color: #ef6c00;
}

.checkbox-orange-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e65100;
    background-color: #e65100;
}

.checkbox-orange-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffd180;
    background-color: #ffd180;
}

.checkbox-orange-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffab40;
    background-color: #ffab40;
}

.checkbox-orange-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff9100;
    background-color: #ff9100;
}

.checkbox-orange-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff6d00;
    background-color: #ff6d00;
}

.checkbox-deep-orange-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fbe9e7;
    background-color: #fbe9e7;
}

.checkbox-deep-orange-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffccbc;
    background-color: #ffccbc;
}

.checkbox-deep-orange-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffab91;
    background-color: #ffab91;
}

.checkbox-deep-orange-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff8a65;
    background-color: #ff8a65;
}

.checkbox-deep-orange-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff7043;
    background-color: #ff7043;
}

.checkbox-deep-orange[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff5722;
    background-color: #ff5722;
}

.checkbox-deep-orange-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f4511e;
    background-color: #f4511e;
}

.checkbox-deep-orange-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e64a19;
    background-color: #e64a19;
}

.checkbox-deep-orange-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #d84315;
    background-color: #d84315;
}

.checkbox-deep-orange-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #bf360c;
    background-color: #bf360c;
}

.checkbox-deep-orange-accent-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff9e80;
    background-color: #ff9e80;
}

.checkbox-deep-orange-accent-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff6e40;
    background-color: #ff6e40;
}

.checkbox-deep-orange-accent-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ff3d00;
    background-color: #ff3d00;
}

.checkbox-deep-orange-accent-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #dd2c00;
    background-color: #dd2c00;
}

.checkbox-brown-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #efebe9;
    background-color: #efebe9;
}

.checkbox-brown-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #d7ccc8;
    background-color: #d7ccc8;
}

.checkbox-brown-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #bcaaa4;
    background-color: #bcaaa4;
}

.checkbox-brown-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #a1887f;
    background-color: #a1887f;
}

.checkbox-brown-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #8d6e63;
    background-color: #8d6e63;
}

.checkbox-brown[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #795548;
    background-color: #795548;
}

.checkbox-brown-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #6d4c41;
    background-color: #6d4c41;
}

.checkbox-brown-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #5d4037;
    background-color: #5d4037;
}

.checkbox-brown-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #4e342e;
    background-color: #4e342e;
}

.checkbox-brown-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #3e2723;
    background-color: #3e2723;
}

.checkbox-grey-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #fafafa;
    background-color: #fafafa;
}

.checkbox-grey-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
}

.checkbox-grey-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
}

.checkbox-grey-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #e0e0e0;
    background-color: #e0e0e0;
}

.checkbox-grey-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
}

.checkbox-grey[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #9e9e9e;
    background-color: #9e9e9e;
}

.checkbox-grey-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #757575;
    background-color: #757575;
}

.checkbox-grey-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #616161;
    background-color: #616161;
}

.checkbox-grey-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #424242;
    background-color: #424242;
}

.checkbox-grey-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #212121;
    background-color: #212121;
}

.checkbox-blue-grey-lighten-5[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #eceff1;
    background-color: #eceff1;
}

.checkbox-blue-grey-lighten-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #cfd8dc;
    background-color: #cfd8dc;
}

.checkbox-blue-grey-lighten-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #b0bec5;
    background-color: #b0bec5;
}

.checkbox-blue-grey-lighten-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #90a4ae;
    background-color: #90a4ae;
}

.checkbox-blue-grey-lighten-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #78909c;
    background-color: #78909c;
}

.checkbox-blue-grey[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #607d8b;
    background-color: #607d8b;
}

.checkbox-blue-grey-darken-1[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #546e7a;
    background-color: #546e7a;
}

.checkbox-blue-grey-darken-2[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #455a64;
    background-color: #455a64;
}

.checkbox-blue-grey-darken-3[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #37474f;
    background-color: #37474f;
}

.checkbox-blue-grey-darken-4[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #263238;
    background-color: #263238;
}

.checkbox-black[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #000000;
    background-color: #000000;
}

.checkbox-white[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #ffffff;
    background-color: #ffffff;
}
